/* -------------------- POLICE ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
/* --------------------- ROOT ------------------------ */
:root{
    --font-police:font-family 'Tinos', serif;
    --font-size:1.3rem;
    --color-text: #fefde5;
    --color-textS2: #333;
    --color-text-Hover: #e4ab4e;
    --bg-color: #271c19;
    --bg-colorS2: #302226;
}
/* -------------------HTML DOOM---------------------- */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-police);
}
html{
    scroll-behavior: smooth;
}
/* -------------------- NAVBAR ----------------------- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(20px);
    background: linear-gradient( to bottom, rgb(39,28,25), transparent);
}
nav .logoNav{
    position: relative;
    max-width: 60px;
    padding-left: 20px;
}
nav .logoNav img{
    max-width: 60px;
}
nav ul{
    position: relative;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    margin-left: 0px;
    margin-right: 20px;
}
/* ------------------ NAVBAR EFFECT --------------------- */
nav ul li.active a,
nav ul li:hover a{
    color: var(--color-text-Hover);
}
.deux-linges{
    text-decoration: none;
    position: relative;
    color: var(--color-text);
}
.deux-linges::before, .deux-linges::after{
    content: '';
    position: absolute;
    height: 1%;
    background: var(--color-text-Hover);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
    filter: blur(5px)
}
.deux-linges::before{
    width: 80%;
    bottom: 0;
}
.deux-linges::after{
    bottom: -7px;
    width: 40%;
}
.deux-linges:hover::before, .deux-linges:hover::after{
    height: 1%;
    opacity: 1;
    transform: translate(-50%, 0px);
    filter: blur(0px);
}
.deux-linges::before, .deux-linges:hover::after {
    transition-delay: 0.1s;
}
.deux-linges:hover::before {
    transition-delay: 0s;
}
/* ------------------- BODY ------------------------- */
body{
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--color-text);
}
#separation01{
    position: relative;
    width: 100vw;
    height: 80px;
    background: var(--bg-color);
}
/* --------- Flou dégradé autour de l'image ---------- */
#secImageAccueil::before{
    padding-right: 10px;
    z-index: 10;
    content: '';
    position: absolute;
    height: 924px;
    width: 759px;
    box-shadow: inset 0em 0em 20px 20px var(--bg-color);
}
/* --------- Images accueil background animé --------- */
#secImageAccueil{
    position: relative;
    background-color: var(--bg-color);
    height: 924px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
#secImageAccueil img{
    pointer-events: none;
    position: absolute;
    top: 0;
    width: clamp(150px, 100%, 759px);
    height: 100%;
    object-fit: cover;
}
/* ----------- ANIMATION RONDS BACKGROUND ---------- */
.rondD{
    transform-origin: 84.7% 87.3% ;
    transform: rotate(0deg);
    animation: rondD 6s linear infinite;
}
@keyframes rondD{
    100% {-webkit-transform:rotate(360deg);}
}

.rondG{
    transform-origin: 15.1% 89.5% ;
    transform: rotate(0deg) ;
    animation: rondG 6s linear infinite;
}
@keyframes rondG{
    100% {-webkit-transform:rotate(-360deg);}
}
/* ------------- ANIMATION Verres BACKGROUND ---------- */
.verreD{
    transform-origin: 84.7% 87.3% ;
    animation: verreD 1s infinite ease-out;
}
@keyframes verreD{
    0% {
        transform: translate(0);
    }
    5%{
        -webkit-transform: translate(1%);
        -webkit-transform: rotate(3deg);
    }
    10%{
        -webkit-transform: translate(-1%);
        -webkit-transform: rotate(-3deg);
    }
    15%{
        -webkit-transform: translate(1%);
        -webkit-transform: rotate(3deg);
    }
    20%{
        -webkit-transform: translate(-1%);
        -webkit-transform: rotate(-3deg);
    }
    50%{
        -webkit-transform: translate(1%);
        -webkit-transform: rotate(3deg);
    }
    100% {
        -webkit-transform: translate(-1%);
    }
}
.verreG{
    transform-origin: 15.1% 89.5%  ;
    animation: verreG 1s infinite ease-out;
}
@keyframes verreG{
    0% {
        transform: translate(0);
    }
    5%{
        -webkit-transform: translate(-1%);
        -webkit-transform: rotate(-3deg);
    }
    10%{
        -webkit-transform: translate(1%);
        -webkit-transform: rotate(3deg);
    }
    15%{
        -webkit-transform: translate(-1%);
        -webkit-transform: rotate(-3deg);
    }
    20%{
        -webkit-transform: translate(1%);
        -webkit-transform: rotate(3deg);
    }
    50%{
        -webkit-transform: translate(-1%);
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: translate(1%);
    }
}
/* -------- ANIMATION des 3 points BACKGROUND ------- */
.exclaD{
    animation: exclaD 1s infinite ease-out;
}
@keyframes exclaD{
    0%{-webkit-transform:translate(1%);}
    70% {-webkit-transform:translate(-2%);}
    100% {-webkit-transform:translate(-2%);}
    0%{-webkit-transform:translate(-1%);}
}
.exclaG{
    animation: exclaG 1s infinite ease-out;
}
@keyframes exclaG{
    0%{-webkit-transform:translate(-1%);}
    70% {-webkit-transform:translate(1%);}
    100% {-webkit-transform:translate(1%);}
    0%{-webkit-transform:translate(-1%);}
}
/* ------ ANIMATION FLECHE BACKGROUND ----------- */
.flecheD{
    transform: translate(0);
    animation: flecheD 1s linear infinite;
}
@keyframes flecheD{
    98% {
        -webkit-transform:translateX(-2px);
        -webkit-transform:rotate(4deg);
    }
    100% {
        -webkit-transform:translateX(0px);
        -webkit-transform:rotate(0deg);
    }
}
.flecheG{
    transform: translate(0);
    animation: flecheG 1s linear infinite;
}
@keyframes flecheG{
    98% {
        -webkit-transform:translateX(1px);
        -webkit-transform:rotate(-2deg);
    }
    100% {
        -webkit-transform:translateX(0px);
        -webkit-transform:rotate(0deg);
    }
}
/* ----- Text de présentation avec logo ---------- */
#textPresentation h1 {
    font-family: var(--font-police);
    letter-spacing: 2px;
    font-size: 2.5rem;
    padding: 40px 50px;
    text-align: center;
}
#textPresentation p {
    font-size: var(--font-size);
    position: relative;
    line-height: 1.5;
    letter-spacing: 2.2px;
    margin: 0 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    text-justify: distribute;
}
#textPresentation{
    position: relative;
    color: var(--color-text);
    background-color: var(--bg-color);
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
#textPresentation div {
    display: block;
    content: '';
}
/* --------------- LOGO dans le texte --------------- */

#textPresentation img{
    display: block;
    position: relative;
    border-radius: 40%;
    margin-top: 50px;
    margin-left: 15%;
    float: left;
    max-width: 256px;
    shape-outside: content-box;
}
/* -------------------- MENU3 ----------------------- */
.menu3{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-colorS2) );
}
.containerMenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.containerMenu .cardre{
    color: var(--bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 470px;
    background: var(--color-text);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.containerMenu .cardre:hover{
    height: 470px;
}
.containerMenu .cardre .imgBx{
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 300px;
    height: 380px;
    border-radius: 12px;
    transition: 0.5s;
}
.containerMenu .cardre:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.containerMenu .cardre .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerMenu .cardre .contenu{
    box-sizing: border-box;
    position: absolute;
    top: 415px;
    width: 100%;
    padding: 7px 20px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.containerMenu .cardre:hover .contenu{
    top: 250px;
    height: 250px;
}
.containerMenu .cardre .contenu h2{
    font-size: 1.5em;
    font-weight: 2000;
    color: var(--clr);
}
.containerMenu .cardre .contenu p{
    color: var(--color-textS2);
    font-weight: 600;
    letter-spacing: 0.9px;
    /* text-justify: inherit; */
}
.containerMenu .cardre .contenu a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: var(--color-text);
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}
.cardre:nth-child(1){
    transition-delay: 200ms;
}
.cardre:nth-child(2){
    transition-delay: 400ms;
}
.cardre:nth-child(3){
    transition-delay: 600ms;
}
