/* --------------------POLICE----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
/* ---------------------ROOT------------------------ */
:root{
    --font-polic:font-family 'Tinos', serif;
    --font-size:1.3rem;
    --color-text: #fefde5;
}
/* -------------------HTML DOOM---------------------- */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-polic);
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}