/* --------------------POLICE----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
/* ---------------------ROOT------------------------ */
:root{
    --font-police:font-family:'Tinos', serif;
    --font-size:1.3rem;
    --color-text: #fefde5;
    --color-text-Hover: #e4ab4e;
}
/* -------------------HTML---------------------- */
*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-police);
}
html{
    scroll-behavior: smooth;
}
/* --------------------NAVBAR----------------------- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(20px);
    background: linear-gradient( to bottom, rgb(39,28,25), transparent);
}
nav .logoNav{
    position: relative;
    max-width: 60px;
    padding-left: 20px;
}
nav .logoNav img{
    max-width: 60px;
}
nav ul{
    position: relative;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    margin-left: 0px;
    margin-right: 20px;
}
/* --------------------NAVBAR EFFECT----------------------- */
nav ul li.active a,
nav ul li:hover a{
    color: var(--color-text-Hover);
}
.deux-linges{
    text-decoration: none;
    position: relative;
    color: var(--color-text);
}
.deux-linges::before, .deux-linges::after{
    content: '';
    position: absolute;
    height: 1%;
    background: var(--color-text-Hover);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
    filter: blur(5px)
}
.deux-linges::before{
    width: 80%;
    bottom: 0;
}
.deux-linges::after{
    bottom: -7px;
    width: 40%;
}
.deux-linges:hover::before, .deux-linges:hover::after{
    height: 1%;
    opacity: 1;
    transform: translate(-50%, 0px);
    filter: blur(0px);
}
.deux-linges::before, .deux-linges:hover::after {
    transition-delay: 0.1s;
}
.deux-linges:hover::before {
    transition-delay: 0s;
}