/* --------------------POLICE----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
/* ---------------------ROOT------------------------ */
:root{
    --font-polic:font-family  'Tinos', serif;
    --font-size:1.3rem;
    --color-text: #fffefc;
    --color-textS2: #333;
    --color-text-Hover: #e4ab4e;
    --bg--colorBody: #cb9643;
    --bg-colorFoot: #181818;
    /* -------------------Chargement------------------ */
    --font-size-chargemnt-Mobil:2.5em;
    --font-size-chargemnt:6em;
    --text-chargement01: #484848;
    --text-chargement02: #fff900;
    --bg-chargement:  #000;
}
/* -------------------HTML DOOM---------------------- */
*, ::before, ::after{
    /*border: red 1px solid;*/
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-polic);
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* --------------------- Animation de chargement de page ----------------------------- */
.loader{
    transform: translateY(-304px);
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bg-chargement);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre{
    color: #484848;
    font-size: var(--font-size-chargemnt);
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash{
    0%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
    90%{
        color: var(--text-chargement01);
        text-shadow: none;
    }
    100%{
        color: var(--text-chargement02);
        text-shadow: 0 0 7px var(--text-chargement02);
    }
}
.lettre:nth-child(1){
    animation-delay:0.1s ;
}
.lettre:nth-child(2){
    animation-delay:0.2s ;
}
.lettre:nth-child(3){
    animation-delay:0.3s ;
}
.lettre:nth-child(4){
    animation-delay:0.4s ;
}
.lettre:nth-child(5){
    animation-delay:0.5s ;
}
.lettre:nth-child(6){
    animation-delay:0.6s ;
}
.lettre:nth-child(7){
    animation-delay:0.7s ;
}
.lettre:nth-child(8){
    animation-delay:0.8s ;
}
.lettre:nth-child(9){
    animation-delay:0.9s ;
}
.lettre:nth-child(10){
    animation-delay:1s ;
}
.fondu-out{
    z-index:-1;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
/* -------------------- NAVBAR ----------------------- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: linear-gradient( to bottom, rgb(39,28,25), transparent);
}
nav .logoNav{
    z-index: 1000;
    position: relative;
    max-width: 60px;
    padding-left: 20px;
}
nav .logoNav img{
    max-width: 60px;
    transition: 0.2s ease-in-out;
}
nav .logoNav img:hover{
    transform: rotate(-15deg);
}
nav ul{
    position: relative;
    display: flex;
    gap: 20px;
}
nav ul li a{
    letter-spacing: 1px;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    margin-left: 0px;
    margin-right: 20px;
}
/* ------------------ NAVBAR EFFECT --------------------- */
nav ul li.active a,
nav ul li:hover a{
    color: var(--color-text-Hover);
}
.deux_linges{
    text-decoration: none;
    position: relative;
    color: var(--color-text);
}
.deux_linges::before, .deux_linges::after{
    content: '';
    position: absolute;
    height: 1%;
    background: var(--color-text-Hover);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
    filter: blur(5px)
}
.deux_linges::before{
    width: 80%;
    bottom: 0;
}
.deux_linges::after{
    bottom: -7px;
    width: 40%;
}
.deux_linges:hover::before, .deux_linges:hover::after{
    height: 1%;
    opacity: 1;
    transform: translate(-50%, 0px);
    filter: blur(0px);
}
.deux_linges::before, .deux_linges:hover::after {
    transition-delay: 0.1s;
}
.deux_linges:hover::before {
    transition-delay: 0s;
}
/* -------------------Corps général------------------------ */
body{
    background: linear-gradient( to bottom, var(--bg--colorBody), #000000);
    font-family: var(--font-polic);
    color: var(--color-text);
}
.titrepage{
    background: var(--color-textS2);
    color: var(--color-text);
    margin-bottom: 30px;
    padding: 90px 0;
    grid-column: 1/-1;
    text-align: center;
}
.titrepage>h1{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.titrepage>h4{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.carte{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 20px 40px;
    justify-content: center;
}
.carteItems{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    transition: .2s ease-in-out;
    background: var(--color-textS2);
}
.carteItems img{
    
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.carte_details{
    padding: 20px 30px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.carte_detailsPrix{
    display: grid;
    grid-template-columns: auto auto;
}
.carte_detailsPrix>h2,h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}
.carte_detailsLien>h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
}
.prix{
    text-align: right;
}
.carte_details>p{
    color: var(--color-text);
    padding-top: 20px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    letter-spacing: .8px;
}
.starterP>p{
    margin-top: 20px;
    margin-bottom: -50px;
}
.carte_detailsLien>a{
    color: #fefde57e;
    transition: all .2s ease-in-out;
}
.carte_detailsLien>a:hover{
    color: var(--color-text-Hover);
}
/* -------------------- FOOTER ----------------------- */
.footer{
    margin-top: 0px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    background: linear-gradient(to top, var(--bg-colorFoot),var(--bg-colorS3));
    color: var(--color-text);
    display: flex;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.boite1{
    letter-spacing: 1px;
    padding-left: 5%;
}
.icons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icons img{
    transition: 0.2s ease-in-out;
}
.boite1 div a img{
    height: 20px;
    width: 20px;
}
.boite1 div a img:hover{
    background: var(--clr);
    border-radius: 2px;
}
.boite1 div a img.insta:hover{
    background: linear-gradient(45deg, #ec6739, #ab2f9d,#2e1ce5);
}
/* -------BTN-INSCRIVEZ-VOUS-------- */
.boite2{
    flex-grow: 2;
}
.mailNewLetter::placeholder{
    color: white;
}
.mailNewLetter{
    font-weight: 550;
    font-size: 19px;
    width: 350px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    background-color: #514C4BFF;
    color: white;
}
.btnInscrivezVous{
    background: transparent;
    border: 2px solid var(--color-text);
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
/* -------BTN-CONTACT------- */
.boite3 {
    letter-spacing: 1px;
    padding-right: 5%;
}
.btnContact{
    display: block;
    background: transparent;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: translatey(5px);
}
.btnInscrivezVous:hover, .boite3 a:hover{
    background: #33333393;
}
/* --------------------- COPYR ----------------------------- */
.copyr{
    background: var(--bg-colorS3);
    text-align: center;
    color: var(--color-text);
    font-size: 12px;

}
/* -----------------------Animation avec .slid----------------------*/
@media(prefers-reduced-motion){
    .slidG, .slidD, .slidH, .slidB, .slidO {
        transition: none;
    }
}
/* ------------Déplacement du haut vers le bas------------ */
.slidH{
    filter: blur(5px);
    opacity: 0;
    transition: all 1s;
    transform: translatey(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translatey(0);
}
/* -----------------------Flou d'apparition ----------------------- */
.slidO{
    filter: blur(5px);
    opacity: 0;
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
/* -----------------------RESPONSIVE----------------------- */
@media (max-width : 800px) {
    /* --------------------- Chargement ----------------------------- */
    .lettre{
        font-size: var(--font-size-chargemnt-Mobil);
        letter-spacing: 1px;
    }
    /* -----------------------NavBar ----------------------- */
    header .logoNav {
        padding-left: 10px;
    }

    header ul li a {
        margin-right: 10px;
    }
}
@media (max-width :775px ){
    /* ------------------Footer--------------------- */
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* -------Ouverture------- */
    .boite1{
        padding: 0px 0;
    }
    /* -------BTN-INSCRIVEZ-VOUS------- */
    .mailNewLetter{
        font-size: 14px;
        width: 250px;
        height: 35px;
        margin-top: 10px;
    }
    .btnInscrivezVous{
        padding: 10px 40px;
        font-size: 15px;
    }
    .boite3 {
        margin-top: 20px;
        padding-right: 0%;
    }
    .copyr{
        display: none;
    }
}
@media (max-width :650px ) {
    .menuToggle {
        z-index: 1000;
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 0px;
        padding-right: 30px;
    }

    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background: #fff;
        transform: translateY(0px);
        transition: 0.5s;
        box-shadow: 0 10px #fff;
        border-radius: 10px;
    }

    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height:10px;
        background: #fff;
        transform: translateY(10px);
        transition: 0.5s;
        transform: translateY(-13px);
        border-radius: 50px 50px 10px 10px;
    }

    header.active .menuToggle::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #fff;
        border-radius: 10px;
        height: 4px;
    }

    header.active .menuToggle::after {
        transform: translateY(0px) rotate(315deg);
        box-shadow: 0 0 #fff;
        height: 4px;
        border-radius: 10px;
    }

    header.active .menuToggle:hover::before, header.active .menuToggle:hover::after {
        background-color: #e4ab4e;
    }

    .menuToggle:hover {
        color: #e4ab4e;
    }

    header ul {
        display: none;
    }
    header.active ul {
        transition: 0.2s ease-in-out;
        z-index: 500;
        position: fixed;
        width: 100%;
        height: calc(100vh);
        left: 0;
        top: 0px;
        background: #271c19;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    header.active ul li a {
        font-size: 2em;
    }

    .logoNav img {
        width: 40px;
    }
    /* ------------FOOTER--------------- */
    .footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
    }
    .boite1{
        padding: 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .boite2{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    /* -------BTN-INSCRIVEZ-VOUS-------- */
    .btnInscrivezVous:hover, .boite3 button:hover{
        transform: scale(1.1);
        background: #33333393;
    }
    .boite3 {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }
}
@media (max-width :425px ){
    .carte{
        padding: 0 0px 10px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 270px);
        grid-gap: 20px 0px;
    }
    .carte__details{
        padding: 20px 30px;
        display: grid;
        grid-template-rows: auto 1fr 50px;
        grid-row-gap: 15px;
    }
    .titrepage>h1{
        font-size: 30px;
        letter-spacing: 10px;
    }
    .titrepage>h4{
        font-size: 20px;
    }
    .carte__detailsPrix>h2,h3{
        font-size: 17px;
    }
    .carte__detailsLien>h3{
        font-size: 16px;
    }
    .carte__details>p{
        font-size: 14px;
        line-height: 25px;
    }
    .carteItems img{
        height: 200px;
    }
    @media  (max-width :290px ){
        .carte{
            padding: 0;
            grid-template-columns: repeat(auto-fit, 220px);
            grid-gap: 20px 0px;
        }
        .carte img{
            height: 155px;
        }
    }
}
